:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #91d8e4,
    #82aae3
  );
  --vp-c-brand: #82aae3;

  /* brand按钮 */
  --vp-button-brand-border: #82aae3;
  --vp-button-brand-bg: #82aae3;

  --vp-button-brand-hover-border: #2e4e7e;
  --vp-button-brand-hover-bg: #2e4e7e;

  --vp-button-brand-active-border: #3f5f8f;
  --vp-button-brand-active-bg: #3f5f8f;

  --vp-c-brand-dark: #2e4e7e;
}
